body {
    font-family: "Raleway", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: url("/imagenes/v24_166.png") no-repeat center center;
    background-color: #e9e9e9;
  }
  
  .container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 500px;
    background: #24303c;
    background: rgba(36, 48, 60, 0.9); /* Semi-transparent background */
    padding: 30px;
    margin: auto;
    margin-top: 100px;
    border-radius: 4px;
    font-family: "Raleway";
    color: #ffffff;
    box-shadow: 7px 13px 37px #000;
    text-align: center;
    font-size: 14px;
  }
  
  .form-container {
    flex: 1;
    padding: 40px;
  }
  
  .form-container h1,
  .form-container h2 {
    margin-bottom: 20px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  .form-group label {
    display: block;
    margin-bottom: 5px;
  }
  
  .form-group input {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
    border: 1px solid #1f2124;
    border-radius: 5px;
    background: #1f2124;
    color: #dbdcdb;
    font-size: 13px;
  }
  
  .password-container {
    position: relative;
    width: 100%;
  }
  
  .password-container input[type="password"],
  .password-container input[type="text"] {
    width: 100%;
    padding-right: 40px; /* Espacio para el icono */
  }
  
  .password-container i {
    position: absolute;
    top: 50%;
    right: 10px;
    transform: translateY(-50%);
    cursor: pointer;
    color: #ccc;
  }
  
  .form-group button {
    width: 100%;
    padding: 10px;
    background: #ffc340;
    border: none;
    border-radius: 5px;
    color: #000000;
    font-size: 14px;
    cursor: pointer;
    margin-top: 10px;
  }
  
  .form-group button:hover {
    background: #ffc340;
  }
  
  .social-buttons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .social-buttons button {
    width: 48%;
    padding: 15px;
    background: #db4437;
    border: none;
    border-radius: 5px;
    color: #ffffff;
    font-size: 14px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  
  .social-buttons .facebook {
    background: #3b5998;
    color: #ffffff;
  }
  
  .social-buttons button img {
    margin-right: 10px;
    width: 20px;
    height: 20px;
  }
  
  .links {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
  }
  
  .links a {
    color: #00aae4;
    text-decoration: none;
  }
  
  .links a:hover {
    text-decoration: underline;
  }
  
  .additional-text {
    text-align: center;
    margin: 20px 0;
  }
  
  .register-link {
    text-align: center;
    margin-top: 20px;
  }
  .register-link a {
    color: #00aae4; /* Cambia el color del enlace */
    text-decoration: none;
  }
  
  .register-link a:hover {
    color: #00aae4; /* Cambia el color del enlace al pasar el cursor */
    text-decoration: underline;
  }
  

/* Manejo de errore */

.alerta{
  width: 100%;
  height: 2rem;
  line-height: 2rem;
  border-radius: 1rem;
}
.alerta.error{
  background-color: rgba(245, 88, 88, 0.979);
  color: white;
}
.alerta.success{
  background-color: rgb(39, 201, 112);
  color: white;
}