<<<<<<< HEAD:Desarrollo/TreeSolution/Codigo/Frontend/TreeSolution-v3/TreeSolution/Estilos/Inicio.css
/* Inicio.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ccc;
    min-width: 98%;
    margin: auto;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    position: fixed; /* Fija el navbar en la parte superior */
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: #000;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__search {
    padding: 5px;
    margin-right: 0px;
}
.header__search-button {
    padding: 5px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header__search-icon {
    width: 16px;
    height: 16px;
}

.header__button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header__button:hover {
    transform: scale(1.1);
}

.header__cart-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header__cart-icon {
    width: 24px;
    height: 24px;
}

.main {
    position: relative;
    height: calc(100vh - 50px);
    background: url('../../build/images/v42_88.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 235, 59, 0.7);
    z-index: 1;
}

.hero {
    position: relative;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.hero__content {
    position: relative;
    z-index: 3;
}

.hero__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3c3c3c;
}

.hero__text {
    margin-bottom: 20px;
    color: #3c3c3c;
}

.hero__button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero__button:hover {
    transform: scale(1.1);
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* modo oscuro */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.header.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.main.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.footer.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.header__nav-link.dark-mode, 
.header__button.dark-mode, 
.hero__button.dark-mode, 
.header__search.dark-mode {
    color: #ffffff;
}

.header__search.dark-mode {
    background-color: #333333;
}

.header__search-button.dark-mode {
    background-color: #333333;
}

.header__icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
    margin-left: 10px;
}

.header__icon-button i {
    font-size: 1.5rem;
}

.header__icon-button.dark-mode i {
    color: #ffffff;
}
=======
/* Inicio.css */
body {
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.8);
    border-bottom: 1px solid #ccc;
    min-width: 98%;
    margin: auto;
    z-index: 1000; /* Asegura que el navbar esté por encima de otros elementos */
    position: fixed; /* Fija el navbar en la parte superior */
}

.header__logo {
    font-size: 24px;
    font-weight: bold;
}

.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__nav-list {
    display: flex;
    list-style: none;
    margin: 0;
    padding: 0;
}

.header__nav-item {
    margin-right: 20px;
}

.header__nav-link {
    text-decoration: none;
    color: #000;
}

.header__actions {
    display: flex;
    align-items: center;
}

.header__search {
    padding: 5px;
    margin-right: 0px;
}
.header__search-button {
    padding: 5px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header__search-icon {
    width: 16px;
    height: 16px;
}

.header__button {
    padding: 5px 10px;
    margin-left: 10px;
    border: none;
    background-color: #000;
    color: #fff;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.header__button:hover {
    transform: scale(1.1);
}

.header__cart-button {
    background: none;
    border: none;
    cursor: pointer;
}

.header__cart-icon {
    width: 24px;
    height: 24px;
}

.main {
    position: relative;
    height: calc(100vh - 50px);
    background: url('../images/v42_88.png') no-repeat center center fixed;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.main__overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(255, 235, 59, 0.7);
    z-index: 1;
}

.hero {
    position: relative;
    z-index: 2;
    width: 80%;
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

.hero__content {
    position: relative;
    z-index: 3;
}

.hero__title {
    font-size: 24px;
    margin-bottom: 20px;
    color: #3c3c3c;
}

.hero__text {
    margin-bottom: 20px;
    color: #3c3c3c;
}

.hero__button {
    padding: 10px 20px;
    background-color: #000;
    color: #fff;
    border: none;
    cursor: pointer;
    transition: transform 0.3s ease;
}

.hero__button:hover {
    transform: scale(1.1);
}


.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

/* modo oscuro */

body.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.header.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.main.dark-mode {
    background-color: #121212;
    color: #ffffff;
}

.footer.dark-mode {
    background-color: #1f1f1f;
    color: #ffffff;
}

.header__nav-link.dark-mode, 
.header__button.dark-mode, 
.hero__button.dark-mode, 
.header__search.dark-mode {
    color: #ffffff;
}

.header__search.dark-mode {
    background-color: #333333;
}

.header__search-button.dark-mode {
    background-color: #333333;
}

.header__icon-button {
    background: none;
    border: none;
    cursor: pointer;
    color: inherit;
    font-size: 1.5rem;
    margin-left: 10px;
}

.header__icon-button i {
    font-size: 1.5rem;
}

.header__icon-button.dark-mode i {
    color: #ffffff;
}
>>>>>>> main:Desarrollo/TS/Codigo/Frontend/TreeSolution-v3/TreeSolution/Estilos/Inicio.css
