/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    flex: 1;
    padding: 2em;
    text-align: center;
}

.footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: #fff;
    padding: 10px 20px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.header__logo {
    font-size: 1.5em;
    font-weight: bold;
}

.header__nav {
    flex-grow: 1;
    margin-left: 20px;
}

.header__nav-list {
    display: flex;
    list-style: none;
    padding: 0;
    margin: 0;
}

.header__nav-item {
    margin-right: 15px;
}

.header__nav-link {
    text-decoration: none;
    color: #000;
}

.header__nav-link:hover {
    background-color: #f4f4f4;
}

.header__search-container {
    display: flex;
    align-items: center;
    position: relative;
}

.header__search {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px 0 0 5px;
    outline: none;
}

.header__search-button {
    padding: 10px;
    border: 1px solid #ddd;
    border-left: none;
    background-color: #ddd;
    border-radius: 0 5px 5px 0;
    cursor: pointer;
}

.header__search-icon {
    width: 16px;
    height: 16px;
}

.header__actions {
    display: flex;
    align-items: center;
    position: relative;
}

.header__action-icon {
    margin-left: 20px;
    cursor: pointer;
}

.dropdown-menu {
    display: none;
    position: absolute;
    top: 40px;
    right: 0;
    background-color: white;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
    overflow: hidden;
    z-index: 1;
    min-width: 150px;
}

.dropdown-menu a {
    display: block;
    padding: 10px 20px;
    text-decoration: none;
    color: black;
}

.dropdown-menu a:hover {
    background-color: #f1f1f1;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding: 20px;
}

/* Estilos de productos */
.product-list {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 20px;
    margin-top: 20px;
}

.product {
    border: 1px solid #ccc;
    padding: 15px;
    background-color: #fff;
    transition: transform 0.3s, box-shadow 0.3s;
}

.product:hover {
    transform: scale(1.05);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.product img {
    max-width: 100%;
    height: auto;
}

.product .info {
    margin-top: 10px;
}

.sort-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    margin-top: 20px;
}

.sort-container label {
    margin-right: 10px;
}

.sort-container select {
    padding: 5px;
}

.info {
    padding: 10px;
}

.info h3 {
    margin: 5px 0;
    font-size: 14px;
    color: #888;
}

.info p {
    margin: 5px 0;
    font-size: 16px;
    color: #333;
}

.price {
    display: flex;
    justify-content: center;
    align-items: center;
}

.discount {
    color: red;
    font-weight: bold;
    margin-right: 5px;
}

.original-price {
    text-decoration: line-through;
    color: #888;
}

/* Modal Styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1001; /* Asegura que el modal esté encima de todo */
    left: 50%; /* Centra horizontalmente */
    top: 50%; /* Centra verticalmente */
    transform: translate(-50%, -50%); /* Centra el modal */
    width: 80%; /* Ancho del modal */
    max-width: 600px;
    max-height: 95%;
    background-color: white; /* Fondo blanco */
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2); /* Sombra */
    padding: 10px;
    overflow-y: auto; /* Permite desplazamiento vertical si el contenido es demasiado largo */
}

.modal-content {
    background-color: white;
    margin: 0; /* Sin margen */
    padding: 10px; /* Espaciado interno */
    border: none; /* Sin borde */
    border-radius: 5px;
    box-shadow: none; /* Sin sombra */
    width: 90%; /* Asegura que el contenido ocupe todo el ancho disponible */
}

.close {
    color: #aaa;
    position: absolute;
    top: 10px;
    right: 20px;
    font-size: 28px;
    font-weight: bold;
    cursor: pointer;
}

.close:hover,
.close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
}

/* Estilos específicos para #editarPerfilModal y #verPerfilModal */
#editarPerfilModal .modal-content,
#verPerfilModal .modal-content {
    margin-left: 0%; /* Ajusta el margen izquierdo según sea necesario */
}

#editarPerfilModal form,
#verPerfilModal form {
    display: flex;
    flex-direction: column;
    width: 100%; /* Asegura que el formulario ocupe todo el ancho disponible */
}

#editarPerfilModal label,
#verPerfilModal label {
    width: 100%; /* Ancho del 100% del contenedor */
    margin-bottom: 5px; /* Margen inferior para separar los elementos */
}

#editarPerfilModal input,
#verPerfilModal input {
    width: 100%; /* Ancho del 100% del contenedor */
    padding: 8px;
    margin-bottom: 10px; /* Margen inferior para separar los elementos */
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
}

#editarPerfilModal .botones,
#verPerfilModal .botones {
    width: 100%;
    text-align: center;
    margin-top: 10px;
}

#editarPerfilModal .botones button,
#verPerfilModal .botones button {
    margin: 0 5px;
}

/* Estilos generales para los botones */
button[type="submit"],
button[type="button"] {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    margin-top: 10px;
    justify-content: center;
    align-items: center;
}

button[type="submit"]:hover,
button[type="button"]:hover {
    background-color: #45a049;
}

.botones {
    display: flex;
    justify-content: center;
    margin-top: 20px; /* Espacio entre el contenido y los botones */
}

.botones button {
    margin: 0 10px; /* Espacio entre los botones */
}

/* Estilo para el overlay */
#overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.8); /* Color semitransparente */
    display: none; /* Oculto por defecto */
    z-index: 1000; /* Asegúrate de que esté por encima de otros elementos */
}

/* Animaciones del título */
.titulo {
    transition: all 1s ease;
    transition-property: transform;
    margin-left: 30px;
}

.titulo:hover {
    transform: scale(1.1);
}

#tituloAnimado {
    display: inline-block;
}

#tituloAnimado span {
    display: inline-block;
    opacity: 0;
    animation: desplazamiento 2s forwards cubic-bezier(0.5, 0, 0.5, 1);
}

@keyframes desplazamiento {
    from {
        transform: translateY(-100%);
        opacity: 0;
    }
    to {
        transform: translateY(0);
        opacity: 1;
    }
}

#tituloAnimado:hover {
    color: rgb(117, 39, 39); /* Cambia el color al pasar el cursor */
}

/* Estilo del slider */
.slider-container {
    width: 80%; /* Ajusta el ancho del contenedor del slider */
    margin: 0 auto; /* Centra el contenedor */
    position: relative;
    height: 300px;
}

.slider {
    width: 100%;
    overflow: hidden;
    position: relative;
}

.slides {
    display: flex;
    transition: transform 0.5s ease;
}

.slides img {
    width: 100%;
    height: 300px;
}

.prevBtn,
.nextBtn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    border: none;
    padding: 10px;
    cursor: pointer;
    z-index: 2;
}

.prevBtn img,
.nextBtn img {
    width: 20px;
    height: 20px;
}

.prevBtn {
    left: 10px;
}

.nextBtn {
    right: 10px;
}

.dots-container {
    display: flex;
    justify-content: center;
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

.dot {
    width: 10px;
    height: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    border-radius: 50%;
    margin: 0 5px;
    cursor: pointer;
}

.dot.active {
    background-color: white;
}

/* Estilos específicos para el modal de producto */
#productModal .modal-content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

#productModal img {
    max-width: 75%;
    height: 75%;
    margin-bottom: 10px;
}

#productModal h3,
#productModal p,
#productModal label {
    margin: 10px 0;
}

#productModal input[type="number"] {
    width: 60px;
    padding: 5px;
    margin: 10px 0;
}
.remove-item {
    background-color: red;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 5px 10px;
    cursor: pointer;
}

.remove-item:hover {
    background-color: darkred;
}